<p>
  <%= @person.location %>
</p>

<%= image_tag(@person.location, size: "250") %>
 
<p>
  <strong>mvotes:</strong>
  <%= @person.mvote %>
</p>

<p>
  <strong>fvotes:</strong>
  <%= @person.fvote %>
</p>
