body {
    background-image: url("backgrounds/fempage.jpg");
    background-color: #cccccc;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

div.gallery {
    margin: 10px;
    float: left;
    width: 250px;
  }